{% extends 'base.html.twig' %}

{% block title %}Anim+ | Gérer mon compte{% endblock %}

{% block body %}
  {% include '_partials/_nav.html.twig' %}
  
    <h4>Changer votre mot de passe</h4>
 <section class="signup-section" id="screen-height">
  <div class="signup-form">
 
    {{ form_start(resetForm, {'attr': {'class': 'form'}})}}
 
    
        {{ form_row(resetForm.plainPassword, {'attr': {'class': 'mb-20'}}) }}
        <button class="login-btn">Enregistrer</button>
 
    {{ form_end(resetForm) }}
    </div>
    </section>
{% endblock %}
