@import '../functions';

    .links {

        ul {
            margin-top: pxToVw(40px, 1512px);

            li {
            cursor: pointer;
            &:hover{
                color: var(--secondary-red);
            }
        }
        }
     
        
    }
    .form-container {
      
        margin: 0 auto;
        

        form {
        display: inline;
        
        


        .row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9 {
            margin-bottom: pxToVw(40px, 1512PX);
        }

        .row-2 {
        
            margin-left: pxToVw(80px, 1512px);
      
            .school_type {
                margin-left: pxToVw(62px, 1512px);
            }

            .school_name {
                margin-left: pxToVw(50px, 1512px);
            }
        }

        .row-3 {
            .city {
                margin-left: pxToVw(12px, 1512px);
            }
            .postal_code {
                margin-left: pxToVw(44px, 1512px);
            }
        }

        .row-4 {
            .lastName {
                margin-left: pxToVw(10px, 1512px);
            }
            .parentOne{
                color: var(--secondary-red);
                font-weight: bold;
            }
        }

        .row-5 {
            .email {
                margin-left: pxToVw(18px, 1512px);
            }
        }

        .row-6 {
            .parentTwo {
                color: var(--secondary-red);
                font-weight: bold;
            }
            .lastName {
                margin-left: pxToVw(10px, 1512px);
            }
        }
        
        .row-7 {
          .email {
            margin-left: 18px;
          }
        }

        .row-9 {
           
            input {
                display: block;
                appearance: none;
                background-color: initial;
                cursor: default;
                align-items: baseline;
                color: inherit;
                text-overflow: ellipsis;
                white-space: pre;
                text-align: start !important;
                padding: initial;
                border: initial;
                overflow: hidden !important;
                width: auto;
            }

            input[type=file]::file-selector-button {
                border: 2px solid var(--primary-blue);
                padding: .2em .4em;
                border-radius: .2em;
                background-color: var(--primary-blue);;
                transition: 1s;
                color: white;
            } 

            input[type=file]::file-selector-button:hover {
                background-color: white;
                border: 2px solid var(--primary-blue);
                color: var(--primary-blue);
              }
        }

            
        }

        h3 {
            margin-top: pxToVw(80px, 1512px);
        }
            .save-button {
                margin-left: 100px;
                display: flex;
                p {
                    margin-right: 20px;
                }
                button {
                    background-image: url("../../images/add-icon.svg");
                    background-repeat: no-repeat; 
                    background-position: 0px 0px;
                    border: none;           /* assuming we don't want any borders */
                    cursor: pointer;        /* make the cursor like hovering over an <a> element */
                    height: 100px;           /* make this the size of your image */
                    padding-left: 100px;     /* make text start to the right of the image */
                    vertical-align: middle; /* align the text vertically centered */
                }
            }
        }
    


    .activity-modal {
        width: 90vw;
    }

  .modal-dialog {
    max-width: none;
    overflow-y: initial !important
   
  }

  .modal-body{
    height: 80vh;
    overflow-y: auto;
}

  .error {
    color: red;
    display: inline;
}

.text-muted {
    color: var(--primary-blue) !important;
}

.remove-btn, .my-buttons {
    cursor: pointer;
    width: pxToVw(50px, 1512px);
    &:hover {
        transform: scale(1.1);
    }
}


.modification-btn {
    border: 2px solid var(--secondary-red);
    color: white;
    background-color: var(--secondary-red);
    border-radius: pxToVw(4px, 1512px);
    padding: pxToVw(15px, 1512px) pxToVw(40px, 1512px);
    margin-left: pxToVw(10px, 1512px);
    
   &:hover {
    color: var(--secondary-red);
    background-color: white;

   }
}

input[type=file]::file-selector-button {
    border: none;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: var(--primary-blue);;
    transition: 1s;
    color: white;
} 

input[type=file] {
    border: none;
}

input[type=file]::file-selector-button:hover {
    background-color: white;
    border: 2px solid var(--primary-blue);
    color: var(--primary-blue);
  }

  .file-form {
    display: flex;
    flex-direction: column;
    
    .add-btn {
       margin-left: pxToVw(400px, 1512px);
    }
  }

  .details-title {
    background-color: var(--secondary-red);
    text-align: center;
    color: white;
    width: pxToVw(660px, 1512px);
    padding-top: pxToVw(10px, 1512px) ;
    padding-bottom: pxToVw(10px, 1512px) ;
    border-radius: pxToVw(6px, 1512px);
    
  }

  .participant-card-body {
    img {
        height: pxToVw(300px, 1512px);
        width: pxToVw(300px, 1512px);
    }
  }

  .profile-image-container {

    height: pxToVw(100px, 1512px);
    width: pxToVw(100px, 1512px);
   

  }

  // Participants list styling


  .table {
   width: pxToVw(1000px, 1512px);

   thead{
    border-bottom: 5px solid var(--secondary-red);
   }
   tbody {
    tr {
        border-bottom: 1px solid var(--primary-blue);
    }
   }
  }


  .filter-bar {
    display: flex;
        margin-top: pxToVw(80px, 1512px);
      .search-input {
    margin-left: pxToVw(240px, 1512px);

    
  }


  .filter-icons {

    // margin-top: 50px;
      .order-btn {
    border: none;
    height: pxToVw(50px, 1512px);
    width: pxToVw(40px, 1512px);
    margin-left: pxToVw(40px, 1512px);
    // padding-top: pxToVw(20px, 1512px);
    // padding-bottom: pxToVw(20px, 1512px);
    
  }
  }
  }

  .filter-school-type-buttons {
    margin-left: pxToVw(190px, 1512px);
    h5 {
        font-size: pxToVw(20px, 1512px);
        margin-left: pxToVw(50px, 1512px);
    }
    .login-btn {
        margin-left: pxToVw(50px, 1512px);
    }
  
  }