@import '../functions';

    .links {

        ul {
            margin-top: pxToVw(40px, 1512px);

            li {
            cursor: pointer;
            &:hover{
                color: var(--secondary-red);
            }
        }
        }
        
    }
 
        
        


            input[type=file]::file-selector-button {
                border: 2px solid var(--primary-blue);
                padding: .2em .4em;
                border-radius: .2em;
                background-color: var(--primary-blue);;
                transition: 1s;
                color: white;
            } 

            input[type=file]::file-selector-button:hover {
                background-color: white;
                border: 2px solid var(--primary-blue);
                color: var(--primary-blue);
              }
        

            
        

        h3 {
            margin-top: pxToVw(80px, 1512px);
        }
    
//participant form styling

.participant-form {
    margin-left: pxToVw(100px, 1512px);
}

    .activity-modal {
        width: 90vw;
    }

  .modal-dialog {
    max-width: none;
    overflow-y: initial !important
   
  }

  .modal-body{
    height: 80vh;
    overflow-y: auto;
}

  .error {
    color: var(--secondary-red);
    display: inline;
}

.text-muted {
    color: var(--primary-blue) !important;
}

.remove-btn, .my-buttons {
    cursor: pointer;
    width: pxToVw(50px, 1512px);
    &:hover {
        transform: scale(1.1);
    }
}


.profile-btn-container {
  margin-top: pxToVw(40px, 1512px);
  display: flex;
  flex-direction: column;


  a {
    margin-bottom: pxToVw(20px, 1512px);
  }
}


input[type=file]::file-selector-button {
    border: none !important;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: var(--primary-blue);;
    transition: 1s;
    color: white;
} 

input[type=file] {
    border: none !important;
}

input[type=file]::file-selector-button {
  cursor: pointer;
}
input[type=file]::file-selector-button:hover {
    background-color: white;
    border: 2px solid var(--primary-blue);
    color: var(--primary-blue);
  }

  .file-form {
    display: flex;
    flex-direction: column;
    
    .add-btn {
       margin-left: pxToVw(400px, 1512px);
    }
  }

  .details-title {
    background-color: var(--secondary-red);
    text-align: center;
    color: var(--white);
    width: pxToVw(780px, 1512px);
    padding-top: pxToVw(10px, 1512px) ;
    padding-bottom: pxToVw(10px, 1512px) ;
    border-radius: pxToVw(6px, 1512px);
    text-transform: uppercase;
    
  }

  .participant-card-body {
    img {
        height: 30%;
        width: 30%;
    }
  }

  

  // Participants list styling


  .table {
   width: pxToVw(1000px, 1512px);

   .remove-btn {
    margin-left: pxToVw(40px, 1512px);
  }
  

   thead{
    border-bottom: 5px solid var(--secondary-red);
   }
   tbody {
    tr {
        border-bottom: 1px solid var(--primary-blue);
    }
   }
  }


    .filter-bar {
      display: flex;
      margin-top: pxToVw(80px, 1512px);
  
      .search-input {
        margin-left: pxToVw(240px, 1512px);
  
  
      }
  
  
      .filter-icons {
  
        // margin-top: 50px;
        .order-btn {
          border: none !important;
          height: pxToVw(50px, 1512px) !important;
          width: pxToVw(40px, 1512px) !important;
          margin-left: pxToVw(40px, 1512px);
          // padding-top: pxToVw(20px, 1512px);
          // padding-bottom: pxToVw(20px, 1512px);
  
        }
      }
    }

  .filter-school-type-buttons {
    margin-left: pxToVw(190px, 1512px);
    h5 {
        font-size: pxToVw(20px, 1512px);
        margin-left: pxToVw(50px, 1512px);
    }
    .login-btn {
        margin-left: pxToVw(50px, 1512px);
    }
  
  }

  // .participant-detail-card-body {
  //   width: pxToVw(820px, 1512px);
  // }

  .email-modal {
    width: 30vw;
  }


  @media screen and (max-width: 1200px) {

        .details-title {
          width: pxToVw(920px, 1512px);
        }
    
  }
  @media screen and (max-width: 990px) {

        .details-title {
          width: pxToVw(1400px, 1512px);
        }
    
  }
  @media screen and (max-width: 789px) {

        .details-title {
          width: pxToVw(1380px, 1512px);
        }
    
  }




    //tablet screen styling
    @media screen and (max-width: 768px) {
  
      h3 {
       font-size: 20px;
      }

      .login-btn {
        height: 30px;
        width: 100px;
        font-size: 12px;
      }  


      .filter-bar {
        margin-top: pxToVw(80px, 1512px);
    
        input {
          width: 300px !important;
          height: 50px !important;
        }

        input::placeholder {
          font-size: 16px !important;
        }
    
    
        .filter-icons {
    
          .order-btn {
            height:50px !important;
            width: 40px !important;
      
          }
        }
      }
      .filter-school-type-buttons {
         h5 {
        font-size: 20px;
      }
      }

      .my-buttons {
        height: 45px;
        width: 45px;
      }

      .remove-btn {
        height: 45px;
        width: 45px;
        margin-left: 18px;
      }
     



    }
    
  