@import '../functions';

    .links {

        ul {
            margin-top: pxToVw(40px, 1512px);

            li {
            cursor: pointer;
            &:hover{
                color: var(--secondary-red);
            }
        }
        }
        
    }
 
        
        


            input[type=file]::file-selector-button {
                border: 2px solid var(--primary-blue);
                padding: .2em .4em;
                border-radius: .2em;
                background-color: var(--primary-blue);;
                transition: 1s;
                color: white;
            } 

            input[type=file]::file-selector-button:hover {
                background-color: white;
                border: 2px solid var(--primary-blue);
                color: var(--primary-blue);
              }
        

            
        

        h3 {
            margin-top: pxToVw(80px, 1512px);
        }
    
//participant form styling

.participant-form {
    margin-left: pxToVw(100px, 1512px);
}

    .activity-modal {
        width: 90vw;
    }

  .modal-dialog {
    max-width: none;
    overflow-y: initial !important
   
  }

  .modal-body{
    height: 80vh;
    overflow-y: auto;
}

  .error {
    color: var(--secondary-red);
    display: inline;
}

.text-muted {
    color: var(--primary-blue) !important;
}

.remove-btn, .my-buttons {
    cursor: pointer;
    width: pxToVw(50px, 1512px);
    &:hover {
        transform: scale(1.1);
    }
}

.profile-btn-container {
  margin-top: pxToVw(40px, 1512px);
  p {
    margin-bottom: pxToVw(40px, 1512px);
  }
  .modification-btn {
    border: pxToVw(2px, 1512pc) solid var(--secondary-red);
    color: var(--white);
    background-color: var(--secondary-red);
    border-radius: pxToVw(4px, 1512px);
    padding: pxToVw(15px, 1512px) pxToVw(40px, 1512px);
    margin-left: pxToVw(10px, 1512px);
    width: pxToVw(340px, 1512px);
    height: pxToVw(50px, 1512px);
  
    
   &:hover {
    color: var(--secondary-red);
    background-color: white;

   }
}
}


input[type=file]::file-selector-button {
    border: none !important;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: var(--primary-blue);;
    transition: 1s;
    color: white;
} 

input[type=file] {
    border: none !important;
}

input[type=file]::file-selector-button {
  cursor: pointer;
}
input[type=file]::file-selector-button:hover {
    background-color: white;
    border: 2px solid var(--primary-blue);
    color: var(--primary-blue);
  }

  .file-form {
    display: flex;
    flex-direction: column;
    
    .add-btn {
       margin-left: pxToVw(400px, 1512px);
    }
  }

  .details-title {
    background-color: var(--secondary-red);
    text-align: center;
    color: var(--white);
    width: pxToVw(780px, 1512px);
    padding-top: pxToVw(10px, 1512px) ;
    padding-bottom: pxToVw(10px, 1512px) ;
    border-radius: pxToVw(6px, 1512px);
    text-transform: uppercase;
    
  }

  .participant-card-body {
    img {
        height: 30%;
        width: 30%;
    }
  }

  

  // Participants list styling


  .table {
   width: pxToVw(1000px, 1512px);

   thead{
    border-bottom: 5px solid var(--secondary-red);
   }
   tbody {
    tr {
        border-bottom: 1px solid var(--primary-blue);
    }
   }
  }


  .filter-bar {
    display: flex;
        margin-top: pxToVw(80px, 1512px);
      .search-input {
    margin-left: pxToVw(240px, 1512px);

    
  }


  .filter-icons {

    // margin-top: 50px;
      .order-btn {
    border: none !important;
    height: pxToVw(50px, 1512px) !important;
    width: pxToVw(40px, 1512px) !important;
    margin-left: pxToVw(40px, 1512px);
    // padding-top: pxToVw(20px, 1512px);
    // padding-bottom: pxToVw(20px, 1512px);
    
  }
  }
  }

  .filter-school-type-buttons {
    margin-left: pxToVw(190px, 1512px);
    h5 {
        font-size: pxToVw(20px, 1512px);
        margin-left: pxToVw(50px, 1512px);
    }
    .login-btn {
        margin-left: pxToVw(50px, 1512px);
    }
  
  }

  .participant-detail-card-body {
    width: pxToVw(820px, 1512px);
  }

  .email-modal {
    width: 30vw;
  }