{% extends 'base.html.twig' %}

{% block title %}Anim+ | A propos{% endblock %}

{% block body %}

  {% include '_partials/_nav.html.twig' %}

  <section id="screen-height" class="about-section">
        <div class="row-1">
            <img src="{{ asset('images/organisation.png') }}" alt="">
            <p>Anim+ est un logiciel multi-activités avec un système de paramétrage exclusif capable de s'adapter à (presque) toutes les situations. Pas de doublons, vous bénéficiez d'un seul logiciel pour gérer toutes vos activités : Accueils de loisirs, garderies périscolaires, cantines, activités culturelles et sportives, TAP, transports, séjours avec hébergement, clubs 3ème âge, interventions à domicile, sorties familiales, foyers de jeunes, et bien d'autres encore... .
</p>
        
        </div>
        <div class="row-1">
            <p>De la gestion des individus à la facturation en passant par le pointage et l'encaissement, Anim+ vous permet d'effectuer toutes les tâches administratives quotidiennes avec efficacité et rapidité.
</p>
            <img class="img-right" src="{{ asset('images/checklist.png') }}" alt="">
        
        
        </div>
  
  </section>





  

{% endblock %}
