{% extends 'base.html.twig' %}

{% block title %}Anim+{% endblock %}

{% block body %}
  {% include '_partials/_nav.html.twig' %}

<div id="screen-height">
    <div class="images-container">
      <div class="image">
          <img class="animate__animated animate__slideInLeft" src="{{ asset('images/icon-list-red.svg') }}" alt="list-icon">
          <p class="animate__animated animate__slideInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos 
          amet ullam laborum libero 
          voluptatum accusantium, commodi eius vel tenetur labore et! 
          Illo, nemo. Laborum quibusdam soluta, aperiam corporis eveniet pariatur.</p>
      </div>
      <div class="image">
          <img class="animate__animated animate__slideInLeft" src="{{ asset('images/icon-avatar-red.svg') }}" alt="list-icon">
          <p class="animate__animated animate__slideInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos 
          amet ullam laborum libero 
          voluptatum accusantium, commodi eius vel tenetur labore et! 
          Illo, nemo. Laborum quibusdam soluta, aperiam corporis eveniet pariatur.</p>
      </div>
      <div class="image">
          <img class="animate__animated animate__slideInLeft" src="{{ asset('images/icon-folder-red.svg') }}" alt="list-icon">
          <p class="animate__animated animate__slideInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos 
          amet ullam laborum libero 
          voluptatum accusantium, commodi eius vel tenetur labore et! 
          Illo, nemo. Laborum quibusdam soluta, aperiam corporis eveniet pariatur.</p>
      </div>
    </div>
    </div>


  

{% endblock %}
