{% extends 'base.html.twig' %}

{% block title %}Anim+{% endblock %}

{% block body %}
  {% include '_partials/_nav.html.twig' %}

<div id="screen-height">
    <div class="images-container">
      <div class="image">
          <img class="animate__animated animate__slideInLeft" src="{{ asset('images/icon-list-red.svg') }}" alt="list-icon">
          <p class="animate__animated animate__slideInRight">Gestion multi-activités pour accueils de loisirs, séjours de vacances, garderies péri-scolaire, crèches, cantines, activités culturelles et sportives, associations, etc...</p>
      </div>
      <div class="image">
          <img class="animate__animated animate__slideInLeft" src="{{ asset('images/icon-avatar-red.svg') }}" alt="list-icon">
          <p class="animate__animated animate__slideInRight"> Accès sécurisé à deux types de comptes: responsable et personnel des structures d'animation.</p>
      </div>
      <div class="image">
          <img class="animate__animated animate__slideInLeft" src="{{ asset('images/icon-folder-red.svg') }}" alt="list-icon">
        
       
              <p class="animate__animated animate__slideInRight">
              Création et gestion des dossiers d’inscription.<br>
              Création est gestion des activités. <br>
              Création et gestion des listes des participants selon l’activité.
               </p>
            </ul>
         
      </div>
    </div>
    </div>


  

{% endblock %}
