{% extends 'base.html.twig' %}

{% block title %}Anim+{% endblock %}

{% block body %}
 {% include '_partials/_nav.html.twig' %}

    <div class='description'>
    <h4>c’est une application qui permet au personnel de pointer les présences des participants et enregistrer les dossiers d'inscription. </h4>
 
<p>Elle convient à tous types d’activités : </p> 
 
 <ul>
  <li> Accueil de Loisirs Sans Hébergement ;</li>
  <li>Accueil Périscolaire ;</li>
  <li> Ateliers.</li>
 </ul>

 
<p>Cette application s’adresse également aux différents types de structures : </p>
 
<ul>
  <li> ALSH ;</li>
  <li> Restauration scolaire ;</li>
  <li> Centre de loisirs ;</li>
  <li> Centre social ;</li>
  <li> Garderie périscolaire.</li>
</ul>
 
 


<p>Anim+ est une application simple qui permet de savoir à tout moment qui est présent dans la structure et consulter les dossiers d'inscription.</p>


</div>
  

    <div class='bottom-page'>
 
    </div>
{% endblock %}
