{% extends 'base.html.twig' %}

{% block title %}Anim+ | A propos{% endblock %}

{% block body %}

  {% include '_partials/_nav.html.twig' %}

  <section id="screen-height" class="list-section">


<ul>
    {% for participant in participants %}
        <li>{{ participant.firstname }} {{ participant.lastname }} </li>
    {% endfor %}
</ul>


  
  </section>





  

{% endblock %}
