{% extends 'base.html.twig' %}

{% block title %}Anim+ | A propos{% endblock %}

{% block body %}

  {% include '_partials/_nav.html.twig' %}

  <section id="screen-height" class="list-section">


<div>mailing list</div>


  
  </section>





  

{% endblock %}
