{% extends 'base.html.twig' %}

{% block title %}Anim+{% endblock %}

{% block body %}
<div class='top-page'>
    <div class='links'>
        <ul>
        <li><a href="/login">Se connecter</a></li>
        <li><a href="/signup">Créer un compte</a></li>
        <li><a href="/api/logout">Se déconnecter</a></li>
    </ul> 
    </div>
   
    <div class='img-container'><a href="/"><img src='{{ asset('images/Logo_white.svg')}}' alt="Anim+" /></a></div>
    

    </div>
 <div class='login-form'>


    
           <form class='form'>
            <input class='mb-20' type="email" name="email" placeholder='Email' required/>
    
            <input class="mb-20" type="password" name='password' placeholder='Mot de passe' required/>

            <input class="mb-20" type="password" name='repeat-password' placeholder='Repetez mot de passe' required/>
      
            <button class='login-btn' type='submit' >S'inscrire'</button>
           </form>


 </div>




   
        
            
       
   
    <div class='bottom-page'>
 
    </div>

{% endblock %}
