{% extends 'base.html.twig' %}

{% block title %}Anim+ | A propos{% endblock %}

{% block body %}

  {% include '_partials/_nav.html.twig' %}

  <section id="screen-height" class="about-section">
       <h4>Gérer mon compte</h4>
       <a href="/reset-password">Changer le mot de passe</a>
       <a href="/list">Liste des inscrits</a>
       <a href="/mailing-list">Mailing liste</a>

  
  </section>





  

{% endblock %}
