@import 'functions';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
}

h1, h2, h3, h4 {
    margin: 0;
}

h3 {
    margin-top: pxToVw(50px, 1512px);
    margin-bottom: pxToVw(50px, 1512px);
    text-align: center;
    font-family: var(--font-family-titles);
}
h5 {
    margin-bottom: pxToVw(30px, 1512px);
    margin-left: pxtoVw(20px, 1512px);
    color: var(--primary-blue);
    font-size: bold;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

// img {
//     max-width: 100%;
// }

input, ::placeholder {
    font-family: var(--font-family);
    color: var(--primary-blue);
    font-size: pxToVw(18px, 1512px)
   
}

input{
    width: pxToVw(314px, 1512px);
    height: pxToVw(50px, 1512px);
    border: pxToVw(2px, 1512px) solid var(--primary-blue);
    border-radius: pxToVw(4px, 1512px);
    outline-color: var(--secondary-red);
    // margin-right: pxToVw(40px, 1920px);

   &:focus::placeholder {
    color: var(--secondary-red);
}
}

select{
    width: pxToVw(314px, 1512px);
    height: pxToVw(70px, 1512px);
    border: 2px solid var(--primary-blue);
    border-radius: pxToVw(5px, 1512px);
    outline-color: var(--secondary-red);
    // margin-right: pxToVw(40px, 1920px);

   &:focus::placeholder {
    color: var(--secondary-red);
}
}

label {
    margin-right: pxToVw(20px, 1512px);
}
