
@use 'mixins' as mixin;

@import 'functions';


html {
    scroll-behavior: smooth;
    height: 100vh;
    min-height: 100;

}

* {
  box-sizing: border-box; 
  margin: 0;
    padding: 0;
}

body {
   min-height: 100vh;
//    position: relative;
    
    font-family: var(--font-family);
}

h1, h2, h3, h4 {
    margin: 0;
}

h3 {
    margin-top: pxToVw(50px, 1512px);
    margin-bottom: pxToVw(50px, 1512px);
    text-align: center;
    font-family: var(--font-family-titles);
    font-size: pxToVw(28px, 1512px);
}
h4 {
    margin-top: pxToVw(50px, 1512px);
    margin-bottom: pxToVw(50px, 1512px);
    text-align: center;
    font-family: var(--font-family-titles);
    font-size: pxToVw(20px, 1512px);
}
h5 {
    margin-bottom: pxToVw(30px, 1512px);
    margin-left: pxtoVw(20px, 1512px);
    color: var(--primary-blue);
    font-size: bold;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

// img {
//     max-width: 100%;
// }

input, ::placeholder {
    font-family: var(--font-family);
    color: var(--primary-blue);
    font-size: pxToVw(18px, 1512px);
}

input{
    width: pxToVw(314px, 1512px);
    height: pxToVw(50px, 1512px);
    border: pxToVw(2px, 1512px) solid var(--primary-blue);
    border-radius: pxToVw(4px, 1512px);
    outline-color: var(--secondary-red);
    // margin-right: pxToVw(40px, 1920px);

   &:focus::placeholder {
    color: var(--secondary-red);
}
}

select{
    width: pxToVw(314px, 1512px);
    height: pxToVw(50px, 1512px);
    border: pxToVw(2px, 1512px) solid var(--primary-blue);
    border-radius: pxToVw(4px, 1512px);
    outline-color: var(--secondary-red);
    // margin-right: pxToVw(40px, 1920px);

   &:focus::placeholder {
    color: var(--secondary-red);
}
}

label {
    margin-right: pxToVw(20px, 1512px);
    margin-left: pxToVw(20px, 1512px);
}

::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
  }


input[type=checkbox] {

    height: pxToVw(25px, 1512px);
    width: pxToVw(25px, 1512px);

}