
@use 'mixins' as mixin;
@import 'functions';




.login-btn {
    padding: pxToVw(5px, 1512px) pxToVw(15px, 1512px);
    border-radius: pxToVw(4px, 1512px);
    cursor: pointer;
    transition: 0.2s opacity;
    background-color: var(--primary-blue);
    color: var(--white);
    font-weight: bold;
    border: none;
    height: pxToVw(30px, 1512px);
    width: pxToVw(115px, 1512px);
    font-size: pxToVw(12px, 1512px);
    margin-left: pxToVw(200px, 1512px);
    
    @include mixin.sm{
      width: 115px;
      height: 30px;
      font-size: 12px;
      margin-left: 210px;
}

    &:hover {
      border: pxToVw(2px, 1512px) solid var(--primary-blue);
      background-color: var(--white);
      color: var(--primary-blue);
    }
}
.btn-blue {
    padding: pxToVw(5px, 1512px) pxToVw(15px, 1512px);
    border-radius: pxToVw(4px, 1512px);
    cursor: pointer;
    transition: 0.2s opacity;
    background-color: var(--primary-blue);
    color: var(--white);
    font-weight: bold;
    border: none;
    height: pxToVw(30px, 1512px);
    width: pxToVw(60px, 1512px);
    font-size: pxToVw(12px, 1512px);
   
    

    &:hover {
      border: pxToVw(2px, 1512px) solid var(--primary-blue);
      background-color: var(--white);
      color: var(--primary-blue);
    }
}

.btn-red {
    padding: pxToVw(5px, 1512px) pxToVw(15px, 1512px);
    border-radius: pxToVw(4px, 1512px);
    cursor: pointer;
    transition: 0.2s opacity;
    background-color: var(--secondary-red);
    color: var(--white);
    font-weight: bold;
    border: none;
    height: pxToVw(30px, 1512px);
    width: pxToVw(60px, 1512px);
    font-size: pxToVw(12px, 1512px);

    

    &:hover {
      border: pxToVw(2px, 1512px) solid var(--secondary-red);
      background-color: var(--white);
      color: var(--secondary-red);
    }
}



.save-btn {
    padding: pxToVw(5px, 1512px) pxToVw(15px, 1512px);
    border-radius: pxToVw(4px, 1512px);
    cursor: pointer;
    transition: 0.2s opacity;
    background-color: var(--primary-blue);
    color: var(--white);
    font-weight: bold;
    border: none;
    height: pxToVw(30px, 1512px);
    width: pxToVw(115px, 1512px);
    font-size: pxToVw(12px, 1512px);
    margin-left: pxToVw(1000px, 1512px);
    margin-top: pxToVw(50px, 1512px);
    margin-bottom: pxToVw(50px, 1512px);
    

    &:hover {
      border: pxToVw(2px, 1512px) solid var(--primary-blue);
      background-color: var(--white);
      color: var(--primary-blue);
    }
}



.modification-btn {
  border: pxToVw(2px, 1512pc) solid var(--secondary-red);
  color: var(--white);
  background-color: var(--secondary-red);
  border-radius: pxToVw(4px, 1512px);
  padding: pxToVw(15px, 1512px) pxToVw(40px, 1512px);
  width: pxToVw(340px, 1512px);
  height: pxToVw(50px, 1512px);

  
 &:hover {
  color: var(--secondary-red);
  background-color: white;

 }
}

.loading-icon {
  margin-left: pxToVw(500px, 1512px);
  margin-top: pxToVw(200px, 1512px);
  height: pxToVw(100px, 1512px);
}


.notice-container {
  margin-bottom: pxToVw(20px, 1512px);

  .flash-notice {
      border: 2px solid var(--primary-blue);
      width: pxToVw(350px, 1512px);
      height: pxToVw(50px, 1512px);
      border-radius: pxToVw(4px, 1512px);
      text-align: center;
      padding-top: 10px;
      color: var(--primary-blue);
  }


  .flash-error {
      border: 2px solid var(--secondary-red);
      width: pxToVw(300px, 1512px);
      height: pxToVw(50px, 1512px);
      border-radius: pxToVw(4px, 1512px);
      text-align: center;
      padding-top: 10px;
      color: var(--secondary-red);
  }
}