


:root {
    --primary-blue: #26619C;
    --secondary-red: #AB3472;
    --black: #0B0A0A;
    --white: #F4F6FC;
    --font-family: 'Oxygen', sans-serif;
    --font-family-titles: 'Rubik Mono One';
    --box-shadow: 0 6px 9px 0 rgba(0,0,0,0.15);
    --box-shadow-nav: 0 2px 18px 0 rgba(0,0,0,0.22);
   
}