

nav {

    display: flex;
    margin-top: 50px;
    
    img {
        margin-left: 30px;
    }

    .links {
        
        margin-top: 40px;
        
        ul {
            margin-left: 780px;
          li{
           display: inline;  
           color: var(--black);
           margin-right: 20px;
           font-weight: bold;
          
           a {
            color: var(--black);
            &:hover {
                color: var(--secondary-red);
               }
           }
        }  
        }
        
    } 
    }
    
