
    .links {
     
        li {
            cursor: pointer;
            &:hover{
                color: var(--secondary-red);
            }
        }
    }
    .activity-form-container {
        display: block;
        margin: 0 auto;
        

        form {
        
         .row-1 {
            input{
                display: inline;
                margin-bottom: 50px;
            }
         }

         .row-2 {
          
            input{
                display: inline;
                margin-bottom: 50px;
            }
         }
            }
            
            .save-button {
                img {
                    height: 50px;
                }
            }
        }
    


    .activity-modal {
        width: 90vw;
    }

  .modal-dialog {
    max-width: none;
   
  }