@import '../functions';

    .links {
     
        li {
            cursor: pointer;
            &:hover{
                color: var(--secondary-red);
            }
        }
    }

    .activity-form-container {
  
        margin-left:pxToVw(180px, 1512px);
        
            form {
                width: pxToVw(700px, 1512px);
                .block-1 {
                    .name {
                        margin-left: pxToVw(20px, 1512px);
                    }
                }
                .block-2{
                    .capacity {
                        margin-left: pxToVw(5px, 1512px);
                    }
                    .price {
                        margin-left: pxToVw(105px, 1512px);
                    }
                }
                .block-3{
                    .hour-start {
                        margin-left: pxToVw(30px, 1512px);
                    }
                }

                .start-date {
                    margin-left: pxToVw(42px, 1512px);
                }
            


                input {
                    margin-bottom: pxToVw(50px, 1512px);
                    margin-right: pxToVw(50px, 1512px);
                }
                
                label {
                    font-size: pxToVw(20px, 1512px);
                }
                .small-input {
                    width: pxToVw(70px, 1512px);
                }
                .medium-input {
                    width: pxToVw(120px, 1512px);
                }
            }
      
            }
            
            .save-btn-container {
               margin-left: pxToVw(800px, 1512px);

                .save-button {
                    border: none;
                    width: pxToVw(100px, 1512px);
                // background-image: url("../../images/add-icon.svg");
                // background-repeat: no-repeat; 
                // background-position: 0px 0px;
                // border: none;           /* assuming we don't want any borders */
                // cursor: pointer;        /* make the cursor like hovering over an <a> element */
                // height: pxToVw(100px, 1512px);           /* make this the size of your image */
                // width: pxToVw(50px, 1512px);           /* make this the size of your image */
                // padding-left: pxToVw(100px, 1512px);     /* make text start to the right of the image */
                // vertical-align: middle; /* align the text vertically centered */
                
            }
            }
         


            //participant list by activity styling
           
    .table {
            margin-left: pxToVw(180px, 1512px);
    }
         
        
    


    .activity-modal {
        width: 90vw;
    }

  .modal-dialog {
    max-width: none;
   
  }

  // activity cards styling

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: pxToVw(50px, 1512px);
    margin-left: pxToVw(180px, 1512px);
    margin-top: pxToVw(100px, 1512px);

    .card {
        height: pxToVw(450px, 1920px);
        width: pxToVw(411px, 1920px);
        border: 2.5px solid var(--primary-blue);
        border-radius: pxToVw(6px, 1920px);
        align-items: center;
        &:hover {
            border: 2.5px solid var(--secondary-red);
        }

        .icon-container {
            width: pxToVw(350px, 1920px);
            height: pxToVw(280px, 1920px);
            background-color: rgba($color: #26619C, $alpha: 0.1);
            margin: auto;
            margin-top: pxToVw(25px, 1920px);
            img {
                margin:  auto;
                display: flex;
                width: pxToVw(255px, 1920px);
                height: pxToVw(278px, 1920px);
                // transition: all 0.5s ease-in-out;
                // &:hover {
                //     filter: brightness(0) saturate(100%) invert(27%) sepia(42%) saturate(1782%) hue-rotate(289deg) brightness(96%) contrast(93%);
                //     transform: scale(1.1);
                // }
               
            }
         
        }

        .title {
            font-weight: bold;
            font-size: pxToVw(20px,1920px);
            width: pxToVw(200px, 1920px);
            text-align: center;
            margin: auto;
            margin-top: pxToVw(20px, 1920px);
            color: var(--black);
        }
       
        .btn-container {
           
            display: flex;
            flex-wrap: wrap;
            gap: pxToVw(20px, 1512px);
            margin-top: pxToVw(20px, 1512px);
            padding-bottom: pxToVw(20px, 1512px);

           .my-buttons {
            height: pxToVw(40px, 1512px);
           }
    }

}
  


// activity details styling


.details-card {
        border: 1px solid var(--primary-blue);
        border-radius: pxToVw(4px, 1920px);
        width: pxToVw(340px, 1512px);
        margin-bottom: pxToVw(40px, 1512px);
        .icon-container {
            width: pxToVw(250px, 1920px);
            height: pxToVw(280px, 1920px);
            background-color: rgba($color: #26619C, $alpha: 0.1);
            margin: auto;
            margin-top: pxToVw(25px, 1920px);
        }
}
.activity-list-btn {
    background-color: var(--secondary-red);
    border-radius: pxToVw(4px, 1512px);
    color: white;
    padding: pxToVw(15px, 1512px) pxToVw(48px, 1512px);
    text-decoration: none;
    &:hover {
        color: var(--secondary-red);
        border: 2px solid var(--secondary-red);
        background-color: white;
    }
    
}

.card-body {
    border: 1px solid var(--primary-blue);
    border-radius: pxToVw(4px, 1920px);
    
    hr {
        border: 1px solid var(--primary-blue);
    }
}

  }